$topbar-padding: 0em;
$topbar-menu-hover-background: rgba(0, 0, 0, 0.1);

// square menu buttons
$topbar-input-width: 500px;
$menu-item-padding: 0.5rem;
$profile-right-margin: 1rem;

$body-font-family: Open Sans, Roboto, Arial, sans-serif;
$header-font-family: Open Sans, Roboto, Arial, sans-serif;

// my top bar
$topbar-background-color: #3C8DBC;
$header-link-padding: 0.5rem;
$topbar-link-color: white;
$header-focused-link-outline-color: darken($topbar-background-color, 10%);

// topbar dropdown
$dropdown-header-font-size: 0.9rem;
$dropdown-footer-font-size: 0.8rem;
$dropdown-padding: 0.5rem;
$dropdown-border-color: #eee;

// sidebar
$left-sidebar-background-color: #333;
$left-sidebar-hover-color: lighten($left-sidebar-background-color, 5%);
$left-sidebar-link-color: #e5e5e5;
$content-background-color: white;

// breadcrumbs
$breadcrumbs-item-color: black;
$breadcrumbs-container-padding: 1rem;
$breadcrumbs-background-color: get-board-color(gray-accent-2);
