$topbar-padding: 0em;
$topbar-menu-hover-background: rgba(0, 0, 0, 0.1);

// square menu buttons
$topbar-input-width: 500px;
$menu-item-padding: 0.5rem;
$profile-right-margin: 1rem;

$body-font-family: Open Sans, Roboto, Arial, sans-serif;

// my top bar
$topbar-background-color: #3C8DBC;
$header-link-padding: 0.5rem;