@charset 'utf-8';

@import url('https://fonts.googleapis.com/css?family=Open+Sans|Roboto');

@import 'foundation';
@import 'settings';

$global-flexbox: true !global;
@include foundation-global-styles;
@include foundation-flex-grid;
@include foundation-flex-classes;
@include foundation-typography;
@include foundation-forms;
@include foundation-button;
@include foundation-accordion;
@include foundation-accordion-menu;
@include foundation-badge;
//@include foundation-breadcrumbs;
@include foundation-button-group;
@include foundation-callout;
@include foundation-card;
//@include foundation-close-button;
@include foundation-menu;
@include foundation-menu-icon;
@include foundation-drilldown-menu;
//@include foundation-dropdown;
//@include foundation-dropdown-menu;
@include foundation-responsive-embed;
@include foundation-label;
@include foundation-media-object;
@include foundation-off-canvas;
@include foundation-orbit;
@include foundation-pagination;
@include foundation-progress-bar;
@include foundation-slider;
@include foundation-sticky;
@include foundation-reveal;
@include foundation-switch;
@include foundation-table;
@include foundation-tabs;
@include foundation-thumbnail;
@include foundation-title-bar;
@include foundation-tooltip;
@include foundation-top-bar;
@include foundation-visibility-classes;
@include foundation-float-classes;

@import 'sidebar';
@import 'panel';
@import 'breadcrumbs';

body {
    display: flex;
    flex-flow: column nowrap;
    height: 100vh;
    overflow-x: hidden;
}

#content-wrapper {
    flex: 1 1 auto;
    display: flex;
    flex-flow: row nowrap;
}

.fa {
    font-size: 1.3rem;
}

.profile-avatar {
    margin-right: $profile-right-margin !important;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
}

.header {
    flex: 0 0 auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    background: $topbar-background-color;

    @include breakpoint(small down) {
        flex-flow: row wrap;
        justify-content: flex-end;
    }

    .header-branding {
        flex: 0 0 auto;
        @include breakpoint(small down) {
            flex: 0 0 100%;
        }

        font-size: 1.25rem;
        line-height: 2.5rem;
        background: darken($topbar-background-color, 5%);
        display: flex;
        justify-content: center;

        a {
            flex: 1 0 auto;
            text-align: center;
            padding: $header-link-padding;
            &:hover, &:focus {
                background: darken($topbar-background-color, 10%);
            }
        }
    }
    
    .header-left {
        flex: 1 0 auto;
    }
    
    .header-right {
        flex: 0 0 auto;
    }

    .menu {
        align-items: stretch;        
        height: 100%;
        width: 100%;

        > li {
            flex: 0 0 auto;
            display: flex;
            position: relative;
            
            > a, > button {
                padding: $header-link-padding;
                display: flex;
                align-items: center;
                cursor: pointer;

                &.iconbutton {
                    position: relative;
                    i {
                        padding-left: $header-link-padding;
                        padding-right: $header-link-padding;
                    }
                    .badge {
                        position: absolute;
                        top: 50%;
                        transform: translate(10px, -15px);
                        min-width: 1.5rem;
                    }
                }
                
                &:hover, &:focus {
                    background: darken($topbar-background-color, 5%);
                }
                
                [data-whatinput='keyboard'] &:focus {
                    outline: 1px solid $header-focused-link-outline-color;
                }
            }
        }
    }
    
    input[type="search"] {
        min-width: 250px;
        height: 100%;
        &::placeholder {
            font-size: 1.2rem;
        }
    }

    a, button {
        color: $topbar-link-color;
    }
}

ul.dropdown-menu {
    width: 300px;
    display: flex;
    flex-flow: column nowrap;
    position: absolute;
    top: 100%;
    right: 0;
    border: 1px solid $dropdown-border-color;
    border-radius: 4px;
    visibility: hidden;
    z-index: 80;
    
    &.is-open {
        visibility: visible;
    }

    .scrolling-content {
        flex: 1 0 auto;
        position: relative;
        overflow-x: hidden;
    }

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        flex-flow: column nowrap;
    }

    a {
        flex: 1 0 auto;
        color: black;
            //background: #efefef;
        }

    > li {
        flex: 0 0 auto;
        display: flex;
        

        &.dropdown-header {
            flex: 0 0 auto;
            font-size: $dropdown-header-font-size;
            padding: $dropdown-padding;
            border-bottom: 1px solid $dropdown-border-color;
        }

        &.dropdown-footer {
            flex: 0 0 auto;
            font-size: $dropdown-footer-font-size;
            > a {
                padding: $dropdown-padding;
                text-align: center;
            }
        }
    }
}

#messages-dropdown {
    $messages-dropdown-background-color: white;
    background: $messages-dropdown-background-color;

    .scrolling-content {
        height: 280px;
        width: 100%;

        .message {
            display: flex;
            flex-flow: row nowrap;
            border-bottom: 1px solid $dropdown-border-color;

            img {
                margin: $dropdown-padding;
            }

            .message-content {
                font-size: 0.8rem;
                h6 {
                    font-weight: bold;
                    position: relative;
                    font-size: 0.9rem;
                    padding-top: $dropdown-padding;
                    margin-bottom: 0.25rem;
                    small {
                        font-weight: normal;
                        i {
                            font-size: 0.9rem;
                            margin-right: 0.2rem;
                        }
                        padding-top: $dropdown-padding + 0.2rem;
                        font-size:0.9rem;
                        position: absolute;
                        top: 0;
                        right: 0;
                        margin-right: $dropdown-padding;
                    }
                }
                p {
                    margin-bottom: $dropdown-padding;
                }
            }
        }        
    }

    a {
        &:hover, &:focus {
            background: darken($messages-dropdown-background-color, 5%);
        }
    }
}

.profile-pic {
    width: 35px;
    height: 35px;
    border-radius: 50%;
    margin-right: 6px;
}

[data-whatinput='initial'] button:focus, [data-whatinput='mouse'] button:focus  {
    outline: 0;
}