<h1>Create a new project</h1>

<div class="row expanded">
	<div class="small-12 large-8 column">
		<form #createProjectForm="ngForm" (ngSubmit)="onCreate(createProjectForm.value, createProjectForm.valid)" novalidate>
			<label for="projectName">*Project name:</label>
			<input type="text" [(ngModel)]="project.projectName" name="projectName" uniquename required placeholder="Enter project name..." #projectName="ngModel" />
			<div [hidden]="projectName.valid || projectName.untouched" class="errorlabel">
				<span *ngIf="projectName.hasError('required')">The project name is required.</span>
				<span *ngIf="projectName.hasError('unique')">The project name is already taken.</span>
			</div>

			<label for="projectAbbreviation">*Project ID:</label>
			<input type="text" [(ngModel)]="project.projectAbbreviation" name="projectAbbreviation" uniqueabbreviation required placeholder="Enter project ID..." #projectAbbreviation="ngModel" />
			<div [hidden]="projectAbbreviation.valid || projectAbbreviation.untouched" class="errorlabel">
				<span *ngIf="projectAbbreviation.hasError('required')">The project ID is required.</span>
				<span *ngIf="projectAbbreviation.hasError('unique')">The project ID is already taken.</span>
			</div>

			<label for="description">Description:</label>
			<textarea [(ngModel)]="project.description" name="description" placeholder="Enter description..." rows="3"></textarea>

			<label for="projectType">*Project type:</label>
			<select name="projectType" [(ngModel)]="project.projectType" required #projectType="ngModel">
				<option *ngFor="let projectType of projectTypes" [value]="projectType">{{projectType}}</option>
			</select>
			<div [hidden]="projectType.valid || projectType.untouched" class="errorlabel">
				<span>You have to select a project type.</span>
			</div>

			<div class="formbuttons">
				<button class="button hollow" (click)="onBack()">Back</button>
				<button class="button" type="submit" [disabled]="!createProjectForm.valid">Create</button>
			</div>
		</form>
	</div>	
</div>